@* Licensed to the Chroma Control Contributors under one or more agreements. *@
@* The Chroma Control Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

<div class="device-group-view">
    <div class="device-group-view-container">
        <div class="device-group-view-header">
            Device Groups
        </div>
        <div class="device-group-view-list">
            <CascadingValue Value="this" Name="DeviceGroupView" IsFixed="true">
                @foreach (var group in _groups)
                {
                    <DeviceGroup Name="@group.Name" Vendor="@group.Vendor" Type="@group.Type" />
                }
            </CascadingValue>
        </div>
    </div>
    <div class="device-view-container">
        @if (_activeGroup == null)
        {
            <BlankSlate />
        }
        else
        {
            <div class="device-view-wrapper">
                <div class="device-view-summary">
                    <div class="device-view-summary-title">
                        <span>@_activeGroup.Name</span>
                    </div>
                    <div class="device-view-summary-details">
                        <span>@_activeGroup.Vendor</span> &bull; <span>@_activeGroup.Type</span>
                    </div>
                </div>
                <DeviceView Group="@_activeGroup.Name" />
            </div>
        }
    </div>
</div>
